/* Cart.module.css */

.cartSection {
  background: url(../assets/img/shopBackground2.jpg) no-repeat center
    center/cover;
  min-height: 100vh;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.coverText {
  background: radial-gradient(rgb(0 0 0 / 51%));
  padding: 16px;
  min-height: 100vh;
}

.cartSection h2 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding-top: 50px;
}

.empty {
  padding: 16px;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.cartTitle {
  font-size: 1.5rem;
  margin-bottom: 12px;
}

.cartList {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 12px;
}

.cartItem {
  display: block;
  grid-template-columns: 80px 1fr auto;
  gap: 12px;
  align-items: center;
  background: #222;
  padding: 12px;
  border-radius: 8px;
}

.cartImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.cartDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartTitleItem {
  color: #fff;
  padding: 5px;
  font-weight: 600;
}

.size {
  color: #fff;
  padding: 5px;
}

.cartPrice {
  font-size: 0.9rem;
  color: #ddd;
  padding: 5px;
}

.cartActions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cartBtn {
  background: #333;
  border: none;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.itemQuantity {
  color: #fff;
}

.cartBtn:hover {
  background: #444;
}

.removeBtn {
  background: #c0392b;
  color: #fff;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.removeBtn:hover {
  background: #e74c3c;
}

.priceClearCheckout {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.clearCheckoutBtn {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  border: none;
  color: #fff;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s ease;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/*Media query for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  .cartItem {
    display: grid;
  }
}

/*Media query for laptops and larger screens (992 and up)*/
@media screen and (min-width: 992px) {
  .cartSection h2 {
    font-size: 3rem;
  }
}
