.contactPage {
  margin: auto;
  background: url(../assets/img/shopBackground2.jpg) no-repeat center
    center/cover;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #fff;
  min-height: 100vh;
  text-align: center;
}

.coverText {
  background: radial-gradient(rgba(0, 0, 0, 0.7));
  padding: 2rem;
  min-height: 100vh;
  display: block;
  justify-items: center;
}

.title {
  font-size: 3rem;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80%;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 0.8rem;
  margin-top: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contactForm input {
  display: flex;
  flex-direction: column;
}

.contactForm button {
  padding: 0.8rem;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.details {
  margin-top: 3rem;
}

.socialIcons {
  display: flex;
  gap: 1.5rem;
  font-size: 1.8rem;
  margin-top: 1rem;
  justify-content: center;
}

.socialIcons a {
  color: #fff;
}

.alert {
  font-weight: bold;
  background: black;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  color: #fff;
}
