.homeintro {
  background: url(../assets/img/hero-sneakers.jpeg) no-repeat center center/cover;
}

.homecover {
  background: radial-gradient(rgb(0 0 0 / 55%));
}

.hometitle {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 1px;
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  padding-top: 20px;
  margin-bottom: 0;
}

.homebuttons {
  text-align: center;
}

.homebuttons button {
  margin: 10px 10px 20px 10px;
  width: 80px;
  height: 40px;
  background: #888888a6;
  border: black 1px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Sansation", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1px;
  color: #fff;
}

.homebuttons button:hover {
    cursor: pointer;
}

/*Media query for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  .hometitle {
    font-size: 2rem;
  }
}

/*Media query for laptops and larger screens (992 and up)*/
@media screen and (min-width: 992px) {
  .hometitle {
    font-size: 3.5rem;
    margin-bottom: 20px;
  }
}

/*Media query for computers,large laptops and upwards (1200px and higher)*/
@media screen and (min-width: 1200px) {
}
