.hometitle {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 1.5rem;
}

.homebuttons {
  text-align: center;
}

.homebuttons button {
  margin: 10px;
  width: 70px;
  height: 30px;
  background: #d3cece72;
  border: black 1px;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.homebuttons button:hover {
    cursor: pointer;
}

/*Media query for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  .hometitle {
    font-size: 2rem;
  }
}

/*Media query for laptops and larger screens (992 and up)*/
@media screen and (min-width: 992px) {
  .hometitle {
    font-size: 2.5rem;
  }
}

/*Media query for computers,large laptops and upwards (1200px and higher)*/
@media screen and (min-width: 1200px) {
}
