main {
  background: url(../assets/img/shopBackground.jpg) center center/contain;
  min-height: 100vh;
}

.coverTxt {
  background: radial-gradient(rgba(0, 0, 0, 0.45));
  min-height: 100vh;
}

.title {
  color: #ffffff;
  font-size: 4rem;
  text-align: center;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 30px;
}

.filterBtn {
  background: none;
  border: none;
  margin-top: 10px;
}

.filterBtn i {
  color: #fff;
  font-size: 1.5rem;
}

.filterBtn i:hover {
  cursor: pointer;
}

.filters {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background: #141313f0;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  z-index: 1000;
  overflow-y: auto;
  animation: slideIn 0.3s ease forwards;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.filters h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3rem;
}

.filters label {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
}

.filters input {
  margin-right: 0.5rem;
}

.closeFilterBtn {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.closeFilterBtn button {
  color: #fff;
  font-size: 1rem;
  border: none;
}

.closeFilterBtn:hover {
  cursor: pointer;
}

.clearBtn {
  padding: 6px 10px;
  border: 1px solid #ccc;
  background: #171616;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}

.clearBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/*Media query for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  .filterBtn i {
    font-size: 2rem;
  }
}
