.wishlistSection {
  background: url(../assets/img/shopBackground2.jpg) no-repeat center
    center/cover;
  min-height: 100vh;
}

.coverText {
  padding: 16px;
  background: radial-gradient(rgb(0 0 0 / 51%));
  min-height: 100vh;
}

.empty {
  padding: 16px;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.wishlistTitle {
  padding: 16px;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding-top: 50px;
}

.cardDisplay {
  display: block;
}

/*Media query for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
  .cardDisplay {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,1fr));
    gap: 16px;
  }
}

/*Media query for laptops and larger screens (992 and up)*/
@media screen and (min-width: 992px) {
  .wishlistTitle {
    font-size: 3rem;
  }
}
