* { box-sizing: border-box; }

html, body, #root { height: 100%; }

body {
  margin: 0;
  background: #f7f7f7;
  color: #111;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
}

#root { max-width: none; margin: 0; padding: 0; text-align: initial; }

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0b121a] text-slate-200 font-body;
}
