.switcher {
  margin: 20px;
  height: 40px;
  width: 60px;
  background: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-family: "Oxanium", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.switcher:hover {
    cursor: pointer;
}
