header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 99;
}

.logo {
  font-family: "Rock Salt", cursive;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  font-size: 1rem;
  margin: 0;
}

.link {
  text-decoration: none;
}

.icon {
  margin: 5px;
}

.logo:hover,
.icon:hover {
    cursor: pointer;
}

.left i,
.right i {
  font-size: 1rem;
  padding: 10px;
  color: #000000;
}

.left i:hover,
.right i:hover {
  cursor: pointer;
}


/*Media query for tablets and larger (768px and up)*/
@media screen and (min-width: 768px) {
.logo {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    font-size: 2.5rem;
}
}

/*Media query for laptops and larger screens (992 and up)*/
@media screen and (min-width: 992px) {
  .left {
  padding-left: 20px;
}

.right{
  padding-right: 20px;
}

.left i,
.right i {
  font-size: 2rem;
  padding: 20px;
}
}

/*Media query for computers,large laptops and upwards (1200px and higher)*/
@media screen and (min-width: 1200px) {
.logo {
  font-size: 2.5rem;
}

.icon {
  margin: 15px;
}
}
